In [2]:
from pymongo import MongoClient

In [4]:
conn = MongoClient('localhost', 27017)
db = conn.coba # This is like 'USE' command in CLI

In [6]:
# Use collection or create new collection
collection = db.coba2

In [8]:
# Insert one new document to collection
record={
        'firstname':'Farid',
        'lastname':'Rizqi',
        'address':'Tangerang',
        'age':29
        }
collection.insert_one(record)

In [9]:
# Insert many documents to collection
records = [
    {
        'firstname':'Mamat',
        'lastname':'Akbar',
        'address':'Jakarta',
        'age':20
        },
    {
        'firstname':'Usep',
        'lastname':'Sejati',
        'address':'Tangerang',
        'age':25
        },
    {
        'firstname':'Nurul',
        'lastname':'Hasyah',
        'address':'Bandung',
        'age':17
        }
]
collection.insert_many(records)

In [10]:
# Return one document
collection.find_one()

{'_id': ObjectId('61e6491224efe77d8fa712da'),
 'firstname': 'Farid',
 'lastname': 'Rizqi',
 'address': 'Tangerang',
 'age': 29}

In [11]:
# Return all documents
for doc in collection.find():
    print(doc)

{'_id': ObjectId('61e6491224efe77d8fa712da'), 'firstname': 'Farid', 'lastname': 'Rizqi', 'address': 'Tangerang', 'age': 29}
{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}
{'_id': ObjectId('61e649d824efe77d8fa712dc'), 'firstname': 'Usep', 'lastname': 'Sejati', 'address': 'Tangerang', 'age': 25}
{'_id': ObjectId('61e649d824efe77d8fa712dd'), 'firstname': 'Nurul', 'lastname': 'Hasyah', 'address': 'Bandung', 'age': 17}

In [12]:
# Return doc with condition
for doc in collection.find({'address':'Tangerang'}):
    print(doc)

{'_id': ObjectId('61e6491224efe77d8fa712da'), 'firstname': 'Farid', 'lastname': 'Rizqi', 'address': 'Tangerang', 'age': 29}
{'_id': ObjectId('61e649d824efe77d8fa712dc'), 'firstname': 'Usep', 'lastname': 'Sejati', 'address': 'Tangerang', 'age': 25}

In [13]:
# Return with operator (<, >, in)
for doc in collection.find({'age':{'$gt':20}}):
    print(doc)

{'_id': ObjectId('61e6491224efe77d8fa712da'), 'firstname': 'Farid', 'lastname': 'Rizqi', 'address': 'Tangerang', 'age': 29}
{'_id': ObjectId('61e649d824efe77d8fa712dc'), 'firstname': 'Usep', 'lastname': 'Sejati', 'address': 'Tangerang', 'age': 25}

In [14]:
# Return with operator (<, >, in)
for doc in collection.find({'age':{'$lt':23}}):
    print(doc)

{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}
{'_id': ObjectId('61e649d824efe77d8fa712dd'), 'firstname': 'Nurul', 'lastname': 'Hasyah', 'address': 'Bandung', 'age': 17}

In [17]:
# Return with operator (<, >, in)
for doc in collection.find({'age':{'$gte':20}}):
    print(doc)

{'_id': ObjectId('61e6491224efe77d8fa712da'), 'firstname': 'Farid', 'lastname': 'Rizqi', 'address': 'Tangerang', 'age': 29}
{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}
{'_id': ObjectId('61e649d824efe77d8fa712dc'), 'firstname': 'Usep', 'lastname': 'Sejati', 'address': 'Tangerang', 'age': 25}

In [18]:
# Return with operator (<, >, in)
for doc in collection.find({'address':{'$in':['Bandung','Jakarta']}}):
    print(doc)

{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}
{'_id': ObjectId('61e649d824efe77d8fa712dd'), 'firstname': 'Nurul', 'lastname': 'Hasyah', 'address': 'Bandung', 'age': 17}

In [23]:
# Return with 'and'
for doc in collection.find({'address':'Jakarta', 'age':20}):
    print(doc)

{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}

In [24]:
# Return with 'or'
for doc in collection.find({'$or':[{'firstname':'Farid'},{'address':'Jakarta'}]}):
    print(doc)

{'_id': ObjectId('61e6491224efe77d8fa712da'), 'firstname': 'Farid', 'lastname': 'Rizqi', 'address': 'Tangerang', 'age': 29}
{'_id': ObjectId('61e649d824efe77d8fa712db'), 'firstname': 'Mamat', 'lastname': 'Akbar', 'address': 'Jakarta', 'age': 20}