In [1]:
from pymongo import MongoClient

In [2]:
conn = MongoClient('localhost', 27017)
db = conn.coba # This is like 'USE' command in CLI

In [3]:
# Use collection or create new collection
collection = db.coba4

In [4]:
records = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(records)

In [6]:
# Count total record grouped by user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total record" : {"$sum" : 1} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total record': 3}
{'_id': 'Amit', 'Total record': 3}

In [7]:
# Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [10]:
# Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}
{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}

In [11]:
# Create new database
collection = db.coba5

In [12]:
import datetime
records=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : datetime.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : datetime.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : datetime.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : datetime.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :datetime.datetime.utcnow() }]

collection.insert_many(records)

In [13]:
# Calculating the average quantity And Average Price
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [24]:
# Aggregate with match, match is filter
agg_result=collection.aggregate([
    {'$match':{'item':'xyz'}
        },
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [21]:
# Aggregate '$Project', This aggregate like select with specific column in SQL
for row in collection.aggregate( [ { "$project": { "item": 1,"date":1 } } ] ): # We put the key we want to show and after that input 1 (True) at value
    print(row)

{'_id': 1, 'item': 'abc', 'date': datetime.datetime(2022, 1, 18, 6, 11, 13, 621000)}
{'_id': 2, 'item': 'jkl', 'date': datetime.datetime(2022, 1, 18, 6, 11, 13, 621000)}
{'_id': 3, 'item': 'xyz', 'date': datetime.datetime(2022, 1, 18, 6, 11, 13, 621000)}
{'_id': 4, 'item': 'abc', 'date': datetime.datetime(2022, 1, 18, 6, 11, 13, 621000)}
{'_id': 5, 'item': 'xyz', 'date': datetime.datetime(2022, 1, 18, 6, 11, 13, 621000)}

In [22]:
for row in collection.aggregate( [ { "$project": { "_id":0, "item": 1, "quantity":1, "price":1 } } ] ): # if we put 0 at value, the key will not show when we print
    print(row)

{'item': 'abc', 'price': 10, 'quantity': 2}
{'item': 'jkl', 'price': 20, 'quantity': 1}
{'item': 'xyz', 'price': 5, 'quantity': 5}
{'item': 'abc', 'price': 10, 'quantity': 10}
{'item': 'xyz', 'price': 5, 'quantity': 10}